<div class="container">
    <div class="image">
        <img [src]="data.mainImage" alt="background image">
    </div>
    <div *ngFor="let item of data.founderDetail" class="founder-detail">
        <div class="founder-img">
            <div class="img-container">
                <img [src]="item?.imgSrc" alt="Founder Image">
            </div>
            <div class="founder-name">
                {{item?.name}},
            </div>
            <div class="designation">
                {{item.designation}}
            </div>
        </div>
        <div class="detail">
            {{item?.about}}
        </div>
    </div>
    <div class="section">
        <div class="header">
            WHO <span>WE ARE?</span>
        </div>
        <div class="detail">
            <div  *ngFor="let item of data.whoWeAre" class="detail-line">
                {{item}}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="header">
            OUR<span>VISION</span>
        </div>
        <div class="detail">
            <div  *ngFor="let item of data.ourVision" class="detail-line">
                {{item}}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="header">
            OUR<span>MISSION</span>
        </div>
        <div class="detail">
            <div  *ngFor="let item of data.ourMission" class="detail-line">
                {{item}}
            </div>
        </div>
    </div>
    <div class="section">
        <div class="header">
            OUR<span>OBJECTIVES</span>
        </div>
        <div class="detail">
            <div  *ngFor="let item of data.ourObjectives" class="detail-line">
                {{item}}
            </div>
        </div>
    </div>
</div>
