.image {
    height: 50vh;
}

.founder-detail {
    background-image: url('../../../assets/pattern2.png');
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: fixed;
    background-color: var(--fixed-bg-color);
}