form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // font-family: 'Montserrat', sans-serif;
    color: inherit;
    font-size: inherit;
    margin: 0 auto;
    box-sizing: border-box;
    &.main-form {
        max-width: 1080px;
        margin-top: 10vh;
    }

    &.group {
        border: 1px solid #e3e3e3;
        padding: 10px;
        margin-bottom: 10px;
    }

    --error-color: #e62020;
    --btn-bg-color: #372cfc;
    --btn-bg-hover-color: #0f0a6d;
    --btn-text-color :#fff;

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    .form-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        label {
            line-height: 1.2;
        }
        &:focus-within label {
            font-weight: 500;
        }
        &.error {
            .form-control {
                outline: 1px solid var(--error-color);
            }
            label {
                color: var(--error-color);
            }
        }

        input[type="text"],
        input[type="radio"],
        input[type="email"],
        input[type="number"] {
            padding: 0 8px;
            height: 30px;
        }

        textarea {
            padding: 8px;
            height: 200px;
        }

        .form-control {
            width: 100%;
            margin: .5em 0 2em 0;
            width: 100%;    
        }

        div.form-control-group {
            width:100%;
            margin-bottom: 10px;
            border: 1px solid #e3e3e3;
            padding: 10px;
        }
    }
    .submit {
        font-size: 1.1em;
        line-height: 1.2;
        padding: .5em 1em;
        border: none;
        outline: none;
        color: var(--btn-text-color);
        background-color: var(--btn-bg-color);
        border-radius: .2em;
        font-weight: 500;
        cursor: pointer;
        &:hover,
        &:focus {
            background-color: var(--btn-bg-hover-color);
        }
    }
}