<div class="container">
    <nav class="big-device">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"><img src="../../../assets/logo.png" alt="Logo"></a></li>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
            <li class="has-sub-menu"><a routerLinkActive="router-link-active">About</a>
                <ul class="sub-menu">
                    <li><a [routerLink]="['/about']">About Ngo</a></li>
                    <li><a [routerLink]="['/about']">Awards</a></li>
                    <li><a [routerLink]="['/about']">Ngo Documents</a></li>
                </ul>
            </li>
            <li><a [routerLink]="['/gallary']" routerLinkActive="router-link-active">Gallary</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
        </ul>
    </nav>
    <nav class="small-device">
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"><img src="../../../assets/logo.png" alt="Logo"></a></li>
        </ul>
        <ul class="side-bar" [ngClass]="{'sidebar-open': sidebarOpen}" (click)="sidebarOpen = false;">
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
            <li><a [routerLink]="['/about']">About Ngo</a></li>
            <li><a [routerLink]="['/about']">Awards</a></li>
            <li><a [routerLink]="['/about']">Ngo Documents</a></li>
            <li><a [routerLink]="['/Gallary']" routerLinkActive="router-link-active">Gallary</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
        </ul>
        <i class="menu-icon" (click)="sidebarOpen = !sidebarOpen">
            <img src="../../../assets/open-menu.svg" [hidden]="sidebarOpen">
            <img src="../../../assets/close.svg" [hidden]="!sidebarOpen">
        </i>
    </nav>
</div>