<div class="container">
    <nav>
        <ul>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"><img src="../../../assets/logo.png" alt="Logo"></a></li>
            <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>
            <li class="has-sub-menu"><a routerLinkActive="router-link-active">About</a>
                <ul class="sub-menu">
                    <li><a [routerLink]="['/about']">About Ngo</a></li>
                    <li><a [routerLink]="['/about/awards']">Awards</a></li>
                    <li><a [routerLink]="['/about/documents']">Ngo Documents</a></li>
                </ul>
            </li>
            <li><a [routerLink]="['/galary']" routerLinkActive="router-link-active">Galary</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
        </ul>
    </nav>
</div>