<div class="container" *ngIf="(vm$ | async) as vm">
    <div class="max-width-container">
        <section class="main-section">
            <ng-container *ngFor="let item of vm">
                <div class="header">{{item.header}}</div>
                <div class="images">
                    <div class="image" *ngFor="let img of item.images">
                        <img [src]="img">
                    </div>
                </div>
            </ng-container>
        </section>
    </div>
</div>